@charset "UTF-8";

body {
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
}

body::after {
    content: "Você agora está no modo retrato";
    color: white;
}